html {
    height: 100%;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #ffffff 0%,#ffffff 100%);
}


#title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    color: #ffffff;
    text-align: center;
    font-family: Lato;
    font-weight: 300;
    font-size: 50px;
    letter-spacing: 10px;
    margin-top: -60px;
    padding-left: 10px;
}

#title span {
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #000080, 324px 42px #000080, 303px 586px #000080,
    1312px 276px #000080, 451px 625px #000080, 521px 1931px #000080, 1087px 1871px #000080,
    36px 1546px #000080, 132px 934px #000080, 1698px 901px #000080, 1418px 664px #000080,
    1448px 1157px #000080, 1084px 232px #000080, 347px 1776px #000080, 1722px 243px #000080,
    1629px 835px #000080, 479px 969px #000080, 1231px 960px #000080, 586px 384px #000080,
    164px 527px #000080, 8px 646px #000080, 1150px 1126px #000080, 665px 1357px #000080,
    1556px 1982px #000080, 1260px 1961px #000080, 1675px 1741px #000080,
    1843px 1514px #000080, 718px 1628px #000080, 242px 1343px #000080, 1497px 1880px #000080,
    1364px 230px #000080, 1739px 1302px #000080, 636px 959px #000080, 304px 686px #000080,
    614px 751px #000080, 1935px 816px #000080, 1428px 60px #000080, 355px 335px #000080,
    1594px 158px #000080, 90px 60px #000080, 1553px 162px #000080, 1239px 1825px #000080,
    1945px 587px #000080, 749px 1785px #000080, 1987px 1172px #000080, 1301px 1237px #000080,
    1039px 342px #000080, 1585px 1481px #000080, 995px 1048px #000080, 524px 932px #000080,
    214px 413px #000080, 1701px 1300px #000080, 1037px 1613px #000080, 1871px 996px #000080,
    1360px 1635px #000080, 1110px 1313px #000080, 412px 1783px #000080, 1949px 177px #000080,
    903px 1854px #000080, 700px 1936px #000080, 378px 125px #000080, 308px 834px #000080,
    1118px 962px #000080, 1350px 1929px #000080, 781px 1811px #000080, 561px 137px #000080,
    757px 1148px #000080, 1670px 1979px #000080, 343px 739px #000080, 945px 795px #000080,
    576px 1903px #000080, 1078px 1436px #000080, 1583px 450px #000080, 1366px 474px #000080,
    297px 1873px #000080, 192px 162px #000080, 1624px 1633px #000080, 59px 453px #000080,
    82px 1872px #000080, 1933px 498px #000080, 1966px 1974px #000080, 1975px 1688px #000080,
    779px 314px #000080, 1858px 1543px #000080, 73px 1507px #000080, 1693px 975px #000080,
    1683px 108px #000080, 1768px 1654px #000080, 654px 14px #000080, 494px 171px #000080,
    1689px 1895px #000080, 1660px 263px #000080, 1031px 903px #000080, 1203px 1393px #000080,
    1333px 1421px #000080, 1113px 41px #000080, 1206px 1645px #000080, 1325px 1635px #000080,
    142px 388px #000080, 572px 215px #000080, 1535px 296px #000080, 1419px 407px #000080,
    1379px 1003px #000080, 329px 469px #000080, 1791px 1652px #000080, 935px 1802px #000080,
    1330px 1820px #000080, 421px 1933px #000080, 828px 365px #000080, 275px 316px #000080,
    707px 960px #000080, 1605px 1554px #000080, 625px 58px #000080, 717px 1697px #000080,
    1669px 246px #000080, 1925px 322px #000080, 1154px 1803px #000080, 1929px 295px #000080,
    1248px 240px #000080, 1045px 1755px #000080, 166px 942px #000080, 1888px 1773px #000080,
    678px 1963px #000080, 1370px 569px #000080, 1974px 1400px #000080, 1786px 460px #000080,
    51px 307px #000080, 784px 1400px #000080, 730px 1258px #000080, 1712px 393px #000080,
    416px 170px #000080, 1797px 1932px #000080, 572px 219px #000080, 1557px 1856px #000080,
    218px 8px #000080, 348px 1334px #000080, 469px 413px #000080, 385px 1738px #000080,
    1357px 1818px #000080, 240px 942px #000080, 248px 1847px #000080, 1535px 806px #000080,
    236px 1514px #000080, 1429px 1556px #000080, 73px 1633px #000080, 1398px 1121px #000080,
    671px 1301px #000080, 1404px 1663px #000080, 740px 1018px #000080, 1600px 377px #000080,
    785px 514px #000080, 112px 1084px #000080, 1915px 1887px #000080, 1463px 1848px #000080,
    687px 1115px #000080, 1268px 1768px #000080, 1729px 1425px #000080,
    1284px 1022px #000080, 801px 974px #000080, 1975px 1317px #000080, 1354px 834px #000080,
    1446px 1484px #000080, 1283px 1786px #000080, 11px 523px #000080, 1842px 236px #000080,
    1355px 654px #000080, 429px 7px #000080, 1033px 1128px #000080, 157px 297px #000080,
    545px 635px #000080, 52px 1080px #000080, 827px 1520px #000080, 1121px 490px #000080,
    9px 309px #000080, 1744px 1586px #000080, 1014px 417px #000080, 1534px 524px #000080,
    958px 552px #000080, 1403px 1496px #000080, 387px 703px #000080, 1522px 548px #000080,
    1355px 282px #000080, 1532px 601px #000080, 1838px 790px #000080, 290px 259px #000080,
    295px 598px #000080, 1601px 539px #000080, 1561px 1272px #000080, 34px 1922px #000080,
    1024px 543px #000080, 467px 369px #000080, 722px 333px #000080, 1976px 1255px #000080,
    766px 983px #000080, 1582px 1285px #000080, 12px 512px #000080, 617px 1410px #000080,
    682px 577px #000080, 1334px 1438px #000080, 439px 327px #000080, 1617px 1661px #000080,
    673px 129px #000080, 794px 941px #000080, 1386px 1902px #000080, 37px 1353px #000080,
    1467px 1353px #000080, 416px 18px #000080, 187px 344px #000080, 200px 1898px #000080,
    1491px 1619px #000080, 811px 347px #000080, 924px 1827px #000080, 945px 217px #000080,
    1735px 1228px #000080, 379px 1890px #000080, 79px 761px #000080, 825px 1837px #000080,
    1980px 1558px #000080, 1308px 1573px #000080, 1488px 1726px #000080,
    382px 1208px #000080, 522px 595px #000080, 1277px 1898px #000080, 354px 552px #000080,
    161px 1784px #000080, 614px 251px #000080, 526px 1576px #000080, 17px 212px #000080,
    179px 996px #000080, 467px 1208px #000080, 1944px 1838px #000080, 1140px 1093px #000080,
    858px 1007px #000080, 200px 1064px #000080, 423px 1964px #000080, 1945px 439px #000080,
    1377px 689px #000080, 1120px 1437px #000080, 1876px 668px #000080, 907px 1324px #000080,
    343px 1976px #000080, 1816px 1501px #000080, 1849px 177px #000080, 647px 91px #000080,
    1984px 1012px #000080, 1336px 1300px #000080, 128px 648px #000080, 305px 1060px #000080,
    1324px 826px #000080, 1263px 1314px #000080, 1801px 629px #000080, 1614px 1555px #000080,
    1634px 90px #000080, 1603px 452px #000080, 891px 1984px #000080, 1556px 1906px #000080,
    121px 68px #000080, 1676px 1714px #000080, 516px 936px #000080, 1947px 1492px #000080,
    1455px 1519px #000080, 45px 602px #000080, 205px 1039px #000080, 793px 172px #000080,
    1562px 1739px #000080, 1056px 110px #000080, 1512px 379px #000080, 1795px 1621px #000080,
    1848px 607px #000080, 262px 1719px #000080, 477px 991px #000080, 483px 883px #000080,
    1239px 1197px #000080, 1496px 647px #000080, 1649px 25px #000080, 1491px 1946px #000080,
    119px 996px #000080, 179px 1472px #000080, 1341px 808px #000080, 1565px 1700px #000080,
    407px 1544px #000080, 1754px 357px #000080, 1288px 981px #000080, 902px 1997px #000080,
    1755px 1668px #000080, 186px 877px #000080, 1202px 1882px #000080, 461px 1213px #000080,
    1400px 748px #000080, 1969px 1899px #000080, 809px 522px #000080, 514px 1219px #000080,
    374px 275px #000080, 938px 1973px #000080, 357px 552px #000080, 144px 1722px #000080,
    1572px 912px #000080, 402px 1858px #000080, 1544px 1195px #000080, 667px 1257px #000080,
    727px 1496px #000080, 993px 232px #000080, 1772px 313px #000080, 1040px 1590px #000080,
    1204px 1973px #000080, 1268px 79px #000080, 1555px 1048px #000080, 986px 1707px #000080,
    978px 1710px #000080, 713px 360px #000080, 407px 863px #000080, 461px 736px #000080,
    284px 1608px #000080, 103px 430px #000080, 1283px 1319px #000080, 977px 1186px #000080,
    1966px 1516px #000080, 1287px 1129px #000080, 70px 1098px #000080, 1189px 889px #000080,
    1126px 1734px #000080, 309px 1292px #000080, 879px 764px #000080, 65px 473px #000080,
    1003px 1959px #000080, 658px 791px #000080, 402px 1576px #000080, 35px 622px #000080,
    529px 1589px #000080, 164px 666px #000080, 1876px 1290px #000080, 1541px 526px #000080,
    270px 1297px #000080, 440px 865px #000080, 1500px 802px #000080, 182px 1754px #000080,
    1264px 892px #000080, 272px 1249px #000080, 1289px 1535px #000080, 190px 1646px #000080,
    955px 242px #000080, 1456px 1597px #000080, 1727px 1983px #000080, 635px 801px #000080,
    226px 455px #000080, 1396px 1710px #000080, 849px 1863px #000080, 237px 1264px #000080,
    839px 140px #000080, 1122px 735px #000080, 1280px 15px #000080, 1318px 242px #000080,
    1819px 1148px #000080, 333px 1392px #000080, 1949px 553px #000080, 1878px 1332px #000080,
    467px 548px #000080, 1812px 1082px #000080, 1067px 193px #000080, 243px 156px #000080,
    483px 1616px #000080, 1714px 933px #000080, 759px 1800px #000080, 1822px 995px #000080,
    1877px 572px #000080, 581px 1084px #000080, 107px 732px #000080, 642px 1837px #000080,
    166px 1493px #000080, 1555px 198px #000080, 819px 307px #000080, 947px 345px #000080,
    827px 224px #000080, 927px 1394px #000080, 540px 467px #000080, 1093px 405px #000080,
    1140px 927px #000080, 130px 529px #000080, 33px 1980px #000080, 1147px 1663px #000080,
    1616px 1436px #000080, 528px 710px #000080, 798px 1100px #000080, 505px 1480px #000080,
    899px 641px #000080, 1909px 1949px #000080, 1311px 964px #000080, 979px 1301px #000080,
    1393px 969px #000080, 1793px 1886px #000080, 292px 357px #000080, 1196px 1718px #000080,
    1290px 1994px #000080, 537px 1973px #000080, 1181px 1674px #000080,
    1740px 1566px #000080, 1307px 265px #000080, 922px 522px #000080, 1892px 472px #000080,
    384px 1746px #000080, 392px 1098px #000080, 647px 548px #000080, 390px 1498px #000080,
    1246px 138px #000080, 730px 876px #000080, 192px 1472px #000080, 1790px 1789px #000080,
    928px 311px #000080, 1253px 1647px #000080, 747px 1921px #000080, 1561px 1025px #000080,
    1533px 1292px #000080, 1985px 195px #000080, 728px 729px #000080, 1712px 1936px #000080,
    512px 1717px #000080, 1528px 483px #000080, 313px 1642px #000080, 281px 1849px #000080,
    1212px 799px #000080, 435px 1191px #000080, 1422px 611px #000080, 1718px 1964px #000080,
    411px 944px #000080, 210px 636px #000080, 1502px 1295px #000080, 1434px 349px #000080,
    769px 60px #000080, 747px 1053px #000080, 789px 504px #000080, 1436px 1264px #000080,
    1893px 1225px #000080, 1394px 1788px #000080, 1108px 1317px #000080,
    1673px 1395px #000080, 854px 1010px #000080, 1705px 80px #000080, 1858px 148px #000080,
    1729px 344px #000080, 1388px 664px #000080, 895px 406px #000080, 1479px 157px #000080,
    1441px 1157px #000080, 552px 1900px #000080, 516px 364px #000080, 1647px 189px #000080,
    1427px 1071px #000080, 785px 729px #000080, 1080px 1710px #000080, 504px 204px #000080,
    1177px 1622px #000080, 657px 34px #000080, 1296px 1099px #000080, 248px 180px #000080,
    1212px 1568px #000080, 667px 1562px #000080, 695px 841px #000080, 1608px 1247px #000080,
    751px 882px #000080, 87px 167px #000080, 607px 1368px #000080, 1363px 1203px #000080,
    1836px 317px #000080, 1668px 1703px #000080, 830px 1154px #000080, 1721px 1398px #000080,
    1601px 1280px #000080, 976px 874px #000080, 1743px 254px #000080, 1020px 1815px #000080,
    1670px 1766px #000080, 1890px 735px #000080, 1379px 136px #000080, 1864px 695px #000080,
    206px 965px #000080, 1404px 1932px #000080, 1923px 1360px #000080, 247px 682px #000080,
    519px 1708px #000080, 645px 750px #000080, 1164px 1204px #000080, 834px 323px #000080,
    172px 1350px #000080, 213px 972px #000080, 1837px 190px #000080, 285px 1806px #000080,
    1047px 1299px #000080, 1548px 825px #000080, 1730px 324px #000080, 1346px 1909px #000080,
    772px 270px #000080, 345px 1190px #000080, 478px 1433px #000080, 1479px 25px #000080,
    1994px 1830px #000080, 1744px 732px #000080, 20px 1635px #000080, 690px 1795px #000080,
    1594px 569px #000080, 579px 245px #000080, 1398px 733px #000080, 408px 1352px #000080,
    1774px 120px #000080, 1152px 1370px #000080, 1698px 1810px #000080, 710px 1450px #000080,
    665px 286px #000080, 493px 1720px #000080, 786px 5px #000080, 637px 1140px #000080,
    764px 324px #000080, 927px 310px #000080, 938px 1424px #000080, 1884px 744px #000080,
    913px 462px #000080, 1831px 1936px #000080, 1527px 249px #000080, 36px 1381px #000080,
    1597px 581px #000080, 1530px 355px #000080, 949px 459px #000080, 799px 828px #000080,
    242px 1471px #000080, 654px 797px #000080, 796px 594px #000080, 1365px 678px #000080,
    752px 23px #000080, 1630px 541px #000080, 982px 72px #000080, 1733px 1831px #000080,
    21px 412px #000080, 775px 998px #000080, 335px 1945px #000080, 264px 583px #000080,
    158px 1311px #000080, 528px 164px #000080, 1978px 574px #000080, 717px 1203px #000080,
    734px 1591px #000080, 1555px 820px #000080, 16px 1943px #000080, 1625px 1177px #000080,
    1236px 690px #000080, 1585px 1590px #000080, 1737px 1728px #000080, 721px 698px #000080,
    1804px 1186px #000080, 166px 980px #000080, 1850px 230px #000080, 330px 1712px #000080,
    95px 797px #000080, 1948px 1078px #000080, 469px 939px #000080, 1269px 1899px #000080,
    955px 1220px #000080, 1137px 1075px #000080, 312px 1293px #000080, 986px 1762px #000080,
    1103px 1238px #000080, 428px 1993px #000080, 355px 570px #000080, 977px 1836px #000080,
    1395px 1092px #000080, 276px 913px #000080, 1743px 656px #000080, 773px 502px #000080,
    1686px 1322px #000080, 1516px 1945px #000080, 1334px 501px #000080, 266px 156px #000080,
    455px 655px #000080, 798px 72px #000080, 1059px 1259px #000080, 1402px 1687px #000080,
    236px 1329px #000080, 1455px 786px #000080, 146px 1228px #000080, 1851px 823px #000080,
    1062px 100px #000080, 1220px 953px #000080, 20px 1826px #000080, 36px 1063px #000080,
    1525px 338px #000080, 790px 1521px #000080, 741px 1099px #000080, 288px 1489px #000080,
    700px 1060px #000080, 390px 1071px #000080, 411px 1036px #000080, 1853px 1072px #000080,
    1446px 1085px #000080, 1164px 874px #000080, 924px 925px #000080, 291px 271px #000080,
    1257px 1964px #000080, 1580px 1352px #000080, 1507px 1216px #000080, 211px 956px #000080,
    985px 1195px #000080, 975px 1640px #000080, 518px 101px #000080, 663px 1395px #000080,
    914px 532px #000080, 145px 1320px #000080, 69px 1397px #000080, 982px 523px #000080,
    257px 725px #000080, 1599px 831px #000080, 1636px 1513px #000080, 1250px 1158px #000080,
    1132px 604px #000080, 183px 102px #000080, 1057px 318px #000080, 1247px 1835px #000080,
    1983px 1110px #000080, 1077px 1455px #000080, 921px 1770px #000080, 806px 1350px #000080,
    1938px 1992px #000080, 855px 1260px #000080, 902px 1345px #000080, 658px 1908px #000080,
    1845px 679px #000080, 712px 1482px #000080, 595px 950px #000080, 1784px 1992px #000080,
    1847px 1785px #000080, 691px 1004px #000080, 175px 1179px #000080, 1666px 1911px #000080,
    41px 61px #000080, 971px 1080px #000080, 1830px 1450px #000080, 1351px 1518px #000080,
    1257px 99px #000080, 1395px 1498px #000080, 1117px 252px #000080, 1779px 597px #000080,
    1346px 729px #000080, 1108px 1144px #000080, 402px 691px #000080, 72px 496px #000080,
    1673px 1604px #000080, 1497px 974px #000080, 1865px 1664px #000080, 88px 806px #000080,
    918px 77px #000080, 244px 1118px #000080, 256px 1820px #000080, 1851px 1840px #000080,
    605px 1851px #000080, 634px 383px #000080, 865px 37px #000080, 943px 1024px #000080,
    1951px 177px #000080, 1097px 523px #000080, 985px 1700px #000080, 1243px 122px #000080,
    768px 1070px #000080, 468px 194px #000080, 320px 1867px #000080, 1850px 185px #000080,
    380px 1616px #000080, 468px 1294px #000080, 1122px 1743px #000080, 884px 299px #000080,
    1300px 1917px #000080, 1860px 396px #000080, 1270px 990px #000080, 529px 733px #000080,
    1975px 1347px #000080, 1885px 685px #000080, 226px 506px #000080, 651px 878px #000080,
    1323px 680px #000080, 1284px 680px #000080, 238px 1967px #000080, 911px 174px #000080,
    1111px 521px #000080, 1150px 85px #000080, 794px 502px #000080, 484px 1856px #000080,
    1809px 368px #000080, 112px 953px #000080, 590px 1009px #000080, 1655px 311px #000080,
    100px 1026px #000080, 1803px 352px #000080, 865px 306px #000080, 1077px 1019px #000080,
    1335px 872px #000080, 1647px 1298px #000080, 1233px 1387px #000080, 698px 1036px #000080,
    659px 1860px #000080, 388px 1412px #000080, 1212px 458px #000080, 755px 1468px #000080,
    696px 1654px #000080, 1144px 60px #000080;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #000080, 324px 42px #000080, 303px 586px #000080,
    1312px 276px #000080, 451px 625px #000080, 521px 1931px #000080, 1087px 1871px #000080,
    36px 1546px #000080, 132px 934px #000080, 1698px 901px #000080, 1418px 664px #000080,
    1448px 1157px #000080, 1084px 232px #000080, 347px 1776px #000080, 1722px 243px #000080,
    1629px 835px #000080, 479px 969px #000080, 1231px 960px #000080, 586px 384px #000080,
    164px 527px #000080, 8px 646px #000080, 1150px 1126px #000080, 665px 1357px #000080,
    1556px 1982px #000080, 1260px 1961px #000080, 1675px 1741px #000080,
    1843px 1514px #000080, 718px 1628px #000080, 242px 1343px #000080, 1497px 1880px #000080,
    1364px 230px #000080, 1739px 1302px #000080, 636px 959px #000080, 304px 686px #000080,
    614px 751px #000080, 1935px 816px #000080, 1428px 60px #000080, 355px 335px #000080,
    1594px 158px #000080, 90px 60px #000080, 1553px 162px #000080, 1239px 1825px #000080,
    1945px 587px #000080, 749px 1785px #000080, 1987px 1172px #000080, 1301px 1237px #000080,
    1039px 342px #000080, 1585px 1481px #000080, 995px 1048px #000080, 524px 932px #000080,
    214px 413px #000080, 1701px 1300px #000080, 1037px 1613px #000080, 1871px 996px #000080,
    1360px 1635px #000080, 1110px 1313px #000080, 412px 1783px #000080, 1949px 177px #000080,
    903px 1854px #000080, 700px 1936px #000080, 378px 125px #000080, 308px 834px #000080,
    1118px 962px #000080, 1350px 1929px #000080, 781px 1811px #000080, 561px 137px #000080,
    757px 1148px #000080, 1670px 1979px #000080, 343px 739px #000080, 945px 795px #000080,
    576px 1903px #000080, 1078px 1436px #000080, 1583px 450px #000080, 1366px 474px #000080,
    297px 1873px #000080, 192px 162px #000080, 1624px 1633px #000080, 59px 453px #000080,
    82px 1872px #000080, 1933px 498px #000080, 1966px 1974px #000080, 1975px 1688px #000080,
    779px 314px #000080, 1858px 1543px #000080, 73px 1507px #000080, 1693px 975px #000080,
    1683px 108px #000080, 1768px 1654px #000080, 654px 14px #000080, 494px 171px #000080,
    1689px 1895px #000080, 1660px 263px #000080, 1031px 903px #000080, 1203px 1393px #000080,
    1333px 1421px #000080, 1113px 41px #000080, 1206px 1645px #000080, 1325px 1635px #000080,
    142px 388px #000080, 572px 215px #000080, 1535px 296px #000080, 1419px 407px #000080,
    1379px 1003px #000080, 329px 469px #000080, 1791px 1652px #000080, 935px 1802px #000080,
    1330px 1820px #000080, 421px 1933px #000080, 828px 365px #000080, 275px 316px #000080,
    707px 960px #000080, 1605px 1554px #000080, 625px 58px #000080, 717px 1697px #000080,
    1669px 246px #000080, 1925px 322px #000080, 1154px 1803px #000080, 1929px 295px #000080,
    1248px 240px #000080, 1045px 1755px #000080, 166px 942px #000080, 1888px 1773px #000080,
    678px 1963px #000080, 1370px 569px #000080, 1974px 1400px #000080, 1786px 460px #000080,
    51px 307px #000080, 784px 1400px #000080, 730px 1258px #000080, 1712px 393px #000080,
    416px 170px #000080, 1797px 1932px #000080, 572px 219px #000080, 1557px 1856px #000080,
    218px 8px #000080, 348px 1334px #000080, 469px 413px #000080, 385px 1738px #000080,
    1357px 1818px #000080, 240px 942px #000080, 248px 1847px #000080, 1535px 806px #000080,
    236px 1514px #000080, 1429px 1556px #000080, 73px 1633px #000080, 1398px 1121px #000080,
    671px 1301px #000080, 1404px 1663px #000080, 740px 1018px #000080, 1600px 377px #000080,
    785px 514px #000080, 112px 1084px #000080, 1915px 1887px #000080, 1463px 1848px #000080,
    687px 1115px #000080, 1268px 1768px #000080, 1729px 1425px #000080,
    1284px 1022px #000080, 801px 974px #000080, 1975px 1317px #000080, 1354px 834px #000080,
    1446px 1484px #000080, 1283px 1786px #000080, 11px 523px #000080, 1842px 236px #000080,
    1355px 654px #000080, 429px 7px #000080, 1033px 1128px #000080, 157px 297px #000080,
    545px 635px #000080, 52px 1080px #000080, 827px 1520px #000080, 1121px 490px #000080,
    9px 309px #000080, 1744px 1586px #000080, 1014px 417px #000080, 1534px 524px #000080,
    958px 552px #000080, 1403px 1496px #000080, 387px 703px #000080, 1522px 548px #000080,
    1355px 282px #000080, 1532px 601px #000080, 1838px 790px #000080, 290px 259px #000080,
    295px 598px #000080, 1601px 539px #000080, 1561px 1272px #000080, 34px 1922px #000080,
    1024px 543px #000080, 467px 369px #000080, 722px 333px #000080, 1976px 1255px #000080,
    766px 983px #000080, 1582px 1285px #000080, 12px 512px #000080, 617px 1410px #000080,
    682px 577px #000080, 1334px 1438px #000080, 439px 327px #000080, 1617px 1661px #000080,
    673px 129px #000080, 794px 941px #000080, 1386px 1902px #000080, 37px 1353px #000080,
    1467px 1353px #000080, 416px 18px #000080, 187px 344px #000080, 200px 1898px #000080,
    1491px 1619px #000080, 811px 347px #000080, 924px 1827px #000080, 945px 217px #000080,
    1735px 1228px #000080, 379px 1890px #000080, 79px 761px #000080, 825px 1837px #000080,
    1980px 1558px #000080, 1308px 1573px #000080, 1488px 1726px #000080,
    382px 1208px #000080, 522px 595px #000080, 1277px 1898px #000080, 354px 552px #000080,
    161px 1784px #000080, 614px 251px #000080, 526px 1576px #000080, 17px 212px #000080,
    179px 996px #000080, 467px 1208px #000080, 1944px 1838px #000080, 1140px 1093px #000080,
    858px 1007px #000080, 200px 1064px #000080, 423px 1964px #000080, 1945px 439px #000080,
    1377px 689px #000080, 1120px 1437px #000080, 1876px 668px #000080, 907px 1324px #000080,
    343px 1976px #000080, 1816px 1501px #000080, 1849px 177px #000080, 647px 91px #000080,
    1984px 1012px #000080, 1336px 1300px #000080, 128px 648px #000080, 305px 1060px #000080,
    1324px 826px #000080, 1263px 1314px #000080, 1801px 629px #000080, 1614px 1555px #000080,
    1634px 90px #000080, 1603px 452px #000080, 891px 1984px #000080, 1556px 1906px #000080,
    121px 68px #000080, 1676px 1714px #000080, 516px 936px #000080, 1947px 1492px #000080,
    1455px 1519px #000080, 45px 602px #000080, 205px 1039px #000080, 793px 172px #000080,
    1562px 1739px #000080, 1056px 110px #000080, 1512px 379px #000080, 1795px 1621px #000080,
    1848px 607px #000080, 262px 1719px #000080, 477px 991px #000080, 483px 883px #000080,
    1239px 1197px #000080, 1496px 647px #000080, 1649px 25px #000080, 1491px 1946px #000080,
    119px 996px #000080, 179px 1472px #000080, 1341px 808px #000080, 1565px 1700px #000080,
    407px 1544px #000080, 1754px 357px #000080, 1288px 981px #000080, 902px 1997px #000080,
    1755px 1668px #000080, 186px 877px #000080, 1202px 1882px #000080, 461px 1213px #000080,
    1400px 748px #000080, 1969px 1899px #000080, 809px 522px #000080, 514px 1219px #000080,
    374px 275px #000080, 938px 1973px #000080, 357px 552px #000080, 144px 1722px #000080,
    1572px 912px #000080, 402px 1858px #000080, 1544px 1195px #000080, 667px 1257px #000080,
    727px 1496px #000080, 993px 232px #000080, 1772px 313px #000080, 1040px 1590px #000080,
    1204px 1973px #000080, 1268px 79px #000080, 1555px 1048px #000080, 986px 1707px #000080,
    978px 1710px #000080, 713px 360px #000080, 407px 863px #000080, 461px 736px #000080,
    284px 1608px #000080, 103px 430px #000080, 1283px 1319px #000080, 977px 1186px #000080,
    1966px 1516px #000080, 1287px 1129px #000080, 70px 1098px #000080, 1189px 889px #000080,
    1126px 1734px #000080, 309px 1292px #000080, 879px 764px #000080, 65px 473px #000080,
    1003px 1959px #000080, 658px 791px #000080, 402px 1576px #000080, 35px 622px #000080,
    529px 1589px #000080, 164px 666px #000080, 1876px 1290px #000080, 1541px 526px #000080,
    270px 1297px #000080, 440px 865px #000080, 1500px 802px #000080, 182px 1754px #000080,
    1264px 892px #000080, 272px 1249px #000080, 1289px 1535px #000080, 190px 1646px #000080,
    955px 242px #000080, 1456px 1597px #000080, 1727px 1983px #000080, 635px 801px #000080,
    226px 455px #000080, 1396px 1710px #000080, 849px 1863px #000080, 237px 1264px #000080,
    839px 140px #000080, 1122px 735px #000080, 1280px 15px #000080, 1318px 242px #000080,
    1819px 1148px #000080, 333px 1392px #000080, 1949px 553px #000080, 1878px 1332px #000080,
    467px 548px #000080, 1812px 1082px #000080, 1067px 193px #000080, 243px 156px #000080,
    483px 1616px #000080, 1714px 933px #000080, 759px 1800px #000080, 1822px 995px #000080,
    1877px 572px #000080, 581px 1084px #000080, 107px 732px #000080, 642px 1837px #000080,
    166px 1493px #000080, 1555px 198px #000080, 819px 307px #000080, 947px 345px #000080,
    827px 224px #000080, 927px 1394px #000080, 540px 467px #000080, 1093px 405px #000080,
    1140px 927px #000080, 130px 529px #000080, 33px 1980px #000080, 1147px 1663px #000080,
    1616px 1436px #000080, 528px 710px #000080, 798px 1100px #000080, 505px 1480px #000080,
    899px 641px #000080, 1909px 1949px #000080, 1311px 964px #000080, 979px 1301px #000080,
    1393px 969px #000080, 1793px 1886px #000080, 292px 357px #000080, 1196px 1718px #000080,
    1290px 1994px #000080, 537px 1973px #000080, 1181px 1674px #000080,
    1740px 1566px #000080, 1307px 265px #000080, 922px 522px #000080, 1892px 472px #000080,
    384px 1746px #000080, 392px 1098px #000080, 647px 548px #000080, 390px 1498px #000080,
    1246px 138px #000080, 730px 876px #000080, 192px 1472px #000080, 1790px 1789px #000080,
    928px 311px #000080, 1253px 1647px #000080, 747px 1921px #000080, 1561px 1025px #000080,
    1533px 1292px #000080, 1985px 195px #000080, 728px 729px #000080, 1712px 1936px #000080,
    512px 1717px #000080, 1528px 483px #000080, 313px 1642px #000080, 281px 1849px #000080,
    1212px 799px #000080, 435px 1191px #000080, 1422px 611px #000080, 1718px 1964px #000080,
    411px 944px #000080, 210px 636px #000080, 1502px 1295px #000080, 1434px 349px #000080,
    769px 60px #000080, 747px 1053px #000080, 789px 504px #000080, 1436px 1264px #000080,
    1893px 1225px #000080, 1394px 1788px #000080, 1108px 1317px #000080,
    1673px 1395px #000080, 854px 1010px #000080, 1705px 80px #000080, 1858px 148px #000080,
    1729px 344px #000080, 1388px 664px #000080, 895px 406px #000080, 1479px 157px #000080,
    1441px 1157px #000080, 552px 1900px #000080, 516px 364px #000080, 1647px 189px #000080,
    1427px 1071px #000080, 785px 729px #000080, 1080px 1710px #000080, 504px 204px #000080,
    1177px 1622px #000080, 657px 34px #000080, 1296px 1099px #000080, 248px 180px #000080,
    1212px 1568px #000080, 667px 1562px #000080, 695px 841px #000080, 1608px 1247px #000080,
    751px 882px #000080, 87px 167px #000080, 607px 1368px #000080, 1363px 1203px #000080,
    1836px 317px #000080, 1668px 1703px #000080, 830px 1154px #000080, 1721px 1398px #000080,
    1601px 1280px #000080, 976px 874px #000080, 1743px 254px #000080, 1020px 1815px #000080,
    1670px 1766px #000080, 1890px 735px #000080, 1379px 136px #000080, 1864px 695px #000080,
    206px 965px #000080, 1404px 1932px #000080, 1923px 1360px #000080, 247px 682px #000080,
    519px 1708px #000080, 645px 750px #000080, 1164px 1204px #000080, 834px 323px #000080,
    172px 1350px #000080, 213px 972px #000080, 1837px 190px #000080, 285px 1806px #000080,
    1047px 1299px #000080, 1548px 825px #000080, 1730px 324px #000080, 1346px 1909px #000080,
    772px 270px #000080, 345px 1190px #000080, 478px 1433px #000080, 1479px 25px #000080,
    1994px 1830px #000080, 1744px 732px #000080, 20px 1635px #000080, 690px 1795px #000080,
    1594px 569px #000080, 579px 245px #000080, 1398px 733px #000080, 408px 1352px #000080,
    1774px 120px #000080, 1152px 1370px #000080, 1698px 1810px #000080, 710px 1450px #000080,
    665px 286px #000080, 493px 1720px #000080, 786px 5px #000080, 637px 1140px #000080,
    764px 324px #000080, 927px 310px #000080, 938px 1424px #000080, 1884px 744px #000080,
    913px 462px #000080, 1831px 1936px #000080, 1527px 249px #000080, 36px 1381px #000080,
    1597px 581px #000080, 1530px 355px #000080, 949px 459px #000080, 799px 828px #000080,
    242px 1471px #000080, 654px 797px #000080, 796px 594px #000080, 1365px 678px #000080,
    752px 23px #000080, 1630px 541px #000080, 982px 72px #000080, 1733px 1831px #000080,
    21px 412px #000080, 775px 998px #000080, 335px 1945px #000080, 264px 583px #000080,
    158px 1311px #000080, 528px 164px #000080, 1978px 574px #000080, 717px 1203px #000080,
    734px 1591px #000080, 1555px 820px #000080, 16px 1943px #000080, 1625px 1177px #000080,
    1236px 690px #000080, 1585px 1590px #000080, 1737px 1728px #000080, 721px 698px #000080,
    1804px 1186px #000080, 166px 980px #000080, 1850px 230px #000080, 330px 1712px #000080,
    95px 797px #000080, 1948px 1078px #000080, 469px 939px #000080, 1269px 1899px #000080,
    955px 1220px #000080, 1137px 1075px #000080, 312px 1293px #000080, 986px 1762px #000080,
    1103px 1238px #000080, 428px 1993px #000080, 355px 570px #000080, 977px 1836px #000080,
    1395px 1092px #000080, 276px 913px #000080, 1743px 656px #000080, 773px 502px #000080,
    1686px 1322px #000080, 1516px 1945px #000080, 1334px 501px #000080, 266px 156px #000080,
    455px 655px #000080, 798px 72px #000080, 1059px 1259px #000080, 1402px 1687px #000080,
    236px 1329px #000080, 1455px 786px #000080, 146px 1228px #000080, 1851px 823px #000080,
    1062px 100px #000080, 1220px 953px #000080, 20px 1826px #000080, 36px 1063px #000080,
    1525px 338px #000080, 790px 1521px #000080, 741px 1099px #000080, 288px 1489px #000080,
    700px 1060px #000080, 390px 1071px #000080, 411px 1036px #000080, 1853px 1072px #000080,
    1446px 1085px #000080, 1164px 874px #000080, 924px 925px #000080, 291px 271px #000080,
    1257px 1964px #000080, 1580px 1352px #000080, 1507px 1216px #000080, 211px 956px #000080,
    985px 1195px #000080, 975px 1640px #000080, 518px 101px #000080, 663px 1395px #000080,
    914px 532px #000080, 145px 1320px #000080, 69px 1397px #000080, 982px 523px #000080,
    257px 725px #000080, 1599px 831px #000080, 1636px 1513px #000080, 1250px 1158px #000080,
    1132px 604px #000080, 183px 102px #000080, 1057px 318px #000080, 1247px 1835px #000080,
    1983px 1110px #000080, 1077px 1455px #000080, 921px 1770px #000080, 806px 1350px #000080,
    1938px 1992px #000080, 855px 1260px #000080, 902px 1345px #000080, 658px 1908px #000080,
    1845px 679px #000080, 712px 1482px #000080, 595px 950px #000080, 1784px 1992px #000080,
    1847px 1785px #000080, 691px 1004px #000080, 175px 1179px #000080, 1666px 1911px #000080,
    41px 61px #000080, 971px 1080px #000080, 1830px 1450px #000080, 1351px 1518px #000080,
    1257px 99px #000080, 1395px 1498px #000080, 1117px 252px #000080, 1779px 597px #000080,
    1346px 729px #000080, 1108px 1144px #000080, 402px 691px #000080, 72px 496px #000080,
    1673px 1604px #000080, 1497px 974px #000080, 1865px 1664px #000080, 88px 806px #000080,
    918px 77px #000080, 244px 1118px #000080, 256px 1820px #000080, 1851px 1840px #000080,
    605px 1851px #000080, 634px 383px #000080, 865px 37px #000080, 943px 1024px #000080,
    1951px 177px #000080, 1097px 523px #000080, 985px 1700px #000080, 1243px 122px #000080,
    768px 1070px #000080, 468px 194px #000080, 320px 1867px #000080, 1850px 185px #000080,
    380px 1616px #000080, 468px 1294px #000080, 1122px 1743px #000080, 884px 299px #000080,
    1300px 1917px #000080, 1860px 396px #000080, 1270px 990px #000080, 529px 733px #000080,
    1975px 1347px #000080, 1885px 685px #000080, 226px 506px #000080, 651px 878px #000080,
    1323px 680px #000080, 1284px 680px #000080, 238px 1967px #000080, 911px 174px #000080,
    1111px 521px #000080, 1150px 85px #000080, 794px 502px #000080, 484px 1856px #000080,
    1809px 368px #000080, 112px 953px #000080, 590px 1009px #000080, 1655px 311px #000080,
    100px 1026px #000080, 1803px 352px #000080, 865px 306px #000080, 1077px 1019px #000080,
    1335px 872px #000080, 1647px 1298px #000080, 1233px 1387px #000080, 698px 1036px #000080,
    659px 1860px #000080, 388px 1412px #000080, 1212px 458px #000080, 755px 1468px #000080,
    696px 1654px #000080, 1144px 60px #000080;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #000080, 1775px 1663px #000080, 332px 1364px #000080,
    878px 340px #000080, 569px 1832px #000080, 1422px 1684px #000080, 1946px 1907px #000080,
    121px 979px #000080, 1044px 1069px #000080, 463px 381px #000080, 423px 112px #000080,
    523px 1179px #000080, 779px 654px #000080, 1398px 694px #000080, 1085px 1464px #000080,
    1599px 1869px #000080, 801px 1882px #000080, 779px 1231px #000080, 552px 932px #000080,
    1057px 1196px #000080, 282px 1280px #000080, 496px 1986px #000080, 1833px 1120px #000080,
    1802px 1293px #000080, 6px 1696px #000080, 412px 1902px #000080, 605px 438px #000080,
    24px 1212px #000080, 234px 1320px #000080, 544px 344px #000080, 1107px 170px #000080,
    1603px 196px #000080, 905px 648px #000080, 68px 1458px #000080, 649px 1969px #000080,
    744px 675px #000080, 1127px 478px #000080, 714px 1814px #000080, 1486px 526px #000080,
    270px 1636px #000080, 1931px 149px #000080, 1807px 378px #000080, 8px 390px #000080,
    1415px 699px #000080, 1473px 1211px #000080, 1590px 141px #000080, 270px 1705px #000080,
    69px 1423px #000080, 1108px 1053px #000080, 1946px 128px #000080, 371px 371px #000080,
    1490px 220px #000080, 357px 1885px #000080, 363px 363px #000080, 1896px 1256px #000080,
    1979px 1050px #000080, 947px 1342px #000080, 1754px 242px #000080, 514px 974px #000080,
    65px 1477px #000080, 1840px 547px #000080, 950px 695px #000080, 459px 1150px #000080,
    1124px 1502px #000080, 481px 940px #000080, 680px 839px #000080, 797px 1169px #000080,
    1977px 1491px #000080, 734px 1724px #000080, 210px 298px #000080, 816px 628px #000080,
    686px 770px #000080, 1721px 267px #000080, 1663px 511px #000080, 1481px 1141px #000080,
    582px 248px #000080, 1308px 953px #000080, 628px 657px #000080, 897px 1535px #000080,
    270px 931px #000080, 791px 467px #000080, 1336px 1732px #000080, 1013px 1653px #000080,
    1911px 956px #000080, 587px 816px #000080, 83px 456px #000080, 930px 1478px #000080,
    1587px 1694px #000080, 614px 1200px #000080, 302px 1782px #000080, 1711px 1432px #000080,
    443px 904px #000080, 1666px 714px #000080, 1588px 1167px #000080, 273px 1075px #000080,
    1679px 461px #000080, 721px 664px #000080, 1202px 10px #000080, 166px 1126px #000080,
    331px 1628px #000080, 430px 1565px #000080, 1585px 509px #000080, 640px 38px #000080,
    822px 837px #000080, 1760px 1664px #000080, 1122px 1458px #000080, 398px 131px #000080,
    689px 285px #000080, 460px 652px #000080, 1627px 365px #000080, 348px 1648px #000080,
    819px 1946px #000080, 981px 1917px #000080, 323px 76px #000080, 979px 684px #000080,
    887px 536px #000080, 1348px 1596px #000080, 1055px 666px #000080, 1402px 1797px #000080,
    1300px 1055px #000080, 937px 238px #000080, 1474px 1815px #000080, 1144px 1710px #000080,
    1629px 1087px #000080, 911px 919px #000080, 771px 819px #000080, 403px 720px #000080,
    163px 736px #000080, 1062px 238px #000080, 1774px 818px #000080, 1874px 1178px #000080,
    1177px 699px #000080, 1244px 1244px #000080, 1371px 58px #000080, 564px 1515px #000080,
    1824px 487px #000080, 929px 702px #000080, 394px 1348px #000080, 1161px 641px #000080,
    219px 1841px #000080, 358px 941px #000080, 140px 1759px #000080, 1019px 1345px #000080,
    274px 436px #000080, 1433px 1605px #000080, 1798px 1426px #000080, 294px 1848px #000080,
    1681px 1877px #000080, 1344px 1824px #000080, 1439px 1632px #000080,
    161px 1012px #000080, 1308px 588px #000080, 1789px 582px #000080, 721px 1910px #000080,
    318px 218px #000080, 607px 319px #000080, 495px 535px #000080, 1552px 1575px #000080,
    1562px 67px #000080, 403px 926px #000080, 1096px 1800px #000080, 1814px 1709px #000080,
    1882px 1831px #000080, 533px 46px #000080, 823px 969px #000080, 530px 165px #000080,
    1030px 352px #000080, 1681px 313px #000080, 338px 115px #000080, 1607px 211px #000080,
    1718px 1184px #000080, 1589px 659px #000080, 278px 355px #000080, 464px 1464px #000080,
    1165px 277px #000080, 950px 694px #000080, 1746px 293px #000080, 793px 911px #000080,
    528px 773px #000080, 1883px 1694px #000080, 748px 182px #000080, 1924px 1531px #000080,
    100px 636px #000080, 1473px 1445px #000080, 1264px 1244px #000080, 850px 1377px #000080,
    987px 1976px #000080, 933px 1761px #000080, 922px 1270px #000080, 500px 396px #000080,
    1324px 8px #000080, 1967px 1814px #000080, 1072px 1401px #000080, 961px 37px #000080,
    156px 81px #000080, 1915px 502px #000080, 1076px 1846px #000080, 152px 1669px #000080,
    986px 1529px #000080, 1667px 1137px #000080;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #000080, 1775px 1663px #000080, 332px 1364px #000080,
    878px 340px #000080, 569px 1832px #000080, 1422px 1684px #000080, 1946px 1907px #000080,
    121px 979px #000080, 1044px 1069px #000080, 463px 381px #000080, 423px 112px #000080,
    523px 1179px #000080, 779px 654px #000080, 1398px 694px #000080, 1085px 1464px #000080,
    1599px 1869px #000080, 801px 1882px #000080, 779px 1231px #000080, 552px 932px #000080,
    1057px 1196px #000080, 282px 1280px #000080, 496px 1986px #000080, 1833px 1120px #000080,
    1802px 1293px #000080, 6px 1696px #000080, 412px 1902px #000080, 605px 438px #000080,
    24px 1212px #000080, 234px 1320px #000080, 544px 344px #000080, 1107px 170px #000080,
    1603px 196px #000080, 905px 648px #000080, 68px 1458px #000080, 649px 1969px #000080,
    744px 675px #000080, 1127px 478px #000080, 714px 1814px #000080, 1486px 526px #000080,
    270px 1636px #000080, 1931px 149px #000080, 1807px 378px #000080, 8px 390px #000080,
    1415px 699px #000080, 1473px 1211px #000080, 1590px 141px #000080, 270px 1705px #000080,
    69px 1423px #000080, 1108px 1053px #000080, 1946px 128px #000080, 371px 371px #000080,
    1490px 220px #000080, 357px 1885px #000080, 363px 363px #000080, 1896px 1256px #000080,
    1979px 1050px #000080, 947px 1342px #000080, 1754px 242px #000080, 514px 974px #000080,
    65px 1477px #000080, 1840px 547px #000080, 950px 695px #000080, 459px 1150px #000080,
    1124px 1502px #000080, 481px 940px #000080, 680px 839px #000080, 797px 1169px #000080,
    1977px 1491px #000080, 734px 1724px #000080, 210px 298px #000080, 816px 628px #000080,
    686px 770px #000080, 1721px 267px #000080, 1663px 511px #000080, 1481px 1141px #000080,
    582px 248px #000080, 1308px 953px #000080, 628px 657px #000080, 897px 1535px #000080,
    270px 931px #000080, 791px 467px #000080, 1336px 1732px #000080, 1013px 1653px #000080,
    1911px 956px #000080, 587px 816px #000080, 83px 456px #000080, 930px 1478px #000080,
    1587px 1694px #000080, 614px 1200px #000080, 302px 1782px #000080, 1711px 1432px #000080,
    443px 904px #000080, 1666px 714px #000080, 1588px 1167px #000080, 273px 1075px #000080,
    1679px 461px #000080, 721px 664px #000080, 1202px 10px #000080, 166px 1126px #000080,
    331px 1628px #000080, 430px 1565px #000080, 1585px 509px #000080, 640px 38px #000080,
    822px 837px #000080, 1760px 1664px #000080, 1122px 1458px #000080, 398px 131px #000080,
    689px 285px #000080, 460px 652px #000080, 1627px 365px #000080, 348px 1648px #000080,
    819px 1946px #000080, 981px 1917px #000080, 323px 76px #000080, 979px 684px #000080,
    887px 536px #000080, 1348px 1596px #000080, 1055px 666px #000080, 1402px 1797px #000080,
    1300px 1055px #000080, 937px 238px #000080, 1474px 1815px #000080, 1144px 1710px #000080,
    1629px 1087px #000080, 911px 919px #000080, 771px 819px #000080, 403px 720px #000080,
    163px 736px #000080, 1062px 238px #000080, 1774px 818px #000080, 1874px 1178px #000080,
    1177px 699px #000080, 1244px 1244px #000080, 1371px 58px #000080, 564px 1515px #000080,
    1824px 487px #000080, 929px 702px #000080, 394px 1348px #000080, 1161px 641px #000080,
    219px 1841px #000080, 358px 941px #000080, 140px 1759px #000080, 1019px 1345px #000080,
    274px 436px #000080, 1433px 1605px #000080, 1798px 1426px #000080, 294px 1848px #000080,
    1681px 1877px #000080, 1344px 1824px #000080, 1439px 1632px #000080,
    161px 1012px #000080, 1308px 588px #000080, 1789px 582px #000080, 721px 1910px #000080,
    318px 218px #000080, 607px 319px #000080, 495px 535px #000080, 1552px 1575px #000080,
    1562px 67px #000080, 403px 926px #000080, 1096px 1800px #000080, 1814px 1709px #000080,
    1882px 1831px #000080, 533px 46px #000080, 823px 969px #000080, 530px 165px #000080,
    1030px 352px #000080, 1681px 313px #000080, 338px 115px #000080, 1607px 211px #000080,
    1718px 1184px #000080, 1589px 659px #000080, 278px 355px #000080, 464px 1464px #000080,
    1165px 277px #000080, 950px 694px #000080, 1746px 293px #000080, 793px 911px #000080,
    528px 773px #000080, 1883px 1694px #000080, 748px 182px #000080, 1924px 1531px #000080,
    100px 636px #000080, 1473px 1445px #000080, 1264px 1244px #000080, 850px 1377px #000080,
    987px 1976px #000080, 933px 1761px #000080, 922px 1270px #000080, 500px 396px #000080,
    1324px 8px #000080, 1967px 1814px #000080, 1072px 1401px #000080, 961px 37px #000080,
    156px 81px #000080, 1915px 502px #000080, 1076px 1846px #000080, 152px 1669px #000080,
    986px 1529px #000080, 1667px 1137px #000080;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    animation: animStar 150s linear infinte;
    box-shadow: 387px 1878px #000080, 760px 1564px #000080, 1487px 999px #000080,
    948px 1828px #000080, 1977px 1001px #000080, 1284px 1963px #000080, 656px 284px #000080,
    1268px 1635px #000080, 1820px 598px #000080, 642px 1900px #000080, 296px 57px #000080,
    921px 1620px #000080, 476px 1858px #000080, 658px 613px #000080, 1171px 1363px #000080,
    1419px 283px #000080, 1037px 731px #000080, 503px 663px #000080, 1562px 463px #000080,
    383px 1197px #000080, 1171px 1233px #000080, 876px 1768px #000080, 856px 1615px #000080,
    1375px 1924px #000080, 1725px 918px #000080, 952px 119px #000080, 768px 1212px #000080,
    992px 1462px #000080, 1929px 717px #000080, 1947px 755px #000080, 1818px 1123px #000080,
    1896px 1672px #000080, 460px 198px #000080, 256px 271px #000080, 752px 544px #000080,
    1222px 1859px #000080, 1851px 443px #000080, 313px 1858px #000080, 709px 446px #000080,
    1546px 697px #000080, 674px 1155px #000080, 1112px 130px #000080, 355px 1790px #000080,
    1496px 974px #000080, 1696px 480px #000080, 1316px 1265px #000080, 1645px 1063px #000080,
    1182px 237px #000080, 427px 1582px #000080, 859px 253px #000080, 458px 939px #000080,
    1517px 1644px #000080, 1943px 60px #000080, 212px 1650px #000080, 966px 1786px #000080,
    473px 712px #000080, 130px 76px #000080, 1417px 1186px #000080, 909px 1580px #000080,
    1913px 762px #000080, 204px 1143px #000080, 1998px 1057px #000080, 1468px 1301px #000080,
    144px 1676px #000080, 21px 1601px #000080, 382px 1362px #000080, 912px 753px #000080,
    1488px 1405px #000080, 802px 156px #000080, 174px 550px #000080, 338px 1366px #000080,
    1197px 774px #000080, 602px 486px #000080, 682px 1877px #000080, 348px 1503px #000080,
    407px 1139px #000080, 950px 1400px #000080, 922px 1139px #000080, 1697px 293px #000080,
    1238px 1281px #000080, 1038px 1197px #000080, 376px 1889px #000080,
    1255px 1680px #000080, 1008px 1316px #000080, 1538px 1447px #000080,
    1186px 874px #000080, 1967px 640px #000080, 1341px 19px #000080, 29px 1732px #000080,
    16px 1650px #000080, 1021px 1075px #000080, 723px 424px #000080, 1175px 41px #000080,
    494px 1957px #000080, 1296px 431px #000080, 175px 1507px #000080, 831px 121px #000080,
    498px 1947px #000080, 617px 880px #000080, 240px 403px #000080;
}

#stars3:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 387px 1878px #000080, 760px 1564px #000080, 1487px 999px #000080,
    948px 1828px #000080, 1977px 1001px #000080, 1284px 1963px #000080, 656px 284px #000080,
    1268px 1635px #000080, 1820px 598px #000080, 642px 1900px #000080, 296px 57px #000080,
    921px 1620px #000080, 476px 1858px #000080, 658px 613px #000080, 1171px 1363px #000080,
    1419px 283px #000080, 1037px 731px #000080, 503px 663px #000080, 1562px 463px #000080,
    383px 1197px #000080, 1171px 1233px #000080, 876px 1768px #000080, 856px 1615px #000080,
    1375px 1924px #000080, 1725px 918px #000080, 952px 119px #000080, 768px 1212px #000080,
    992px 1462px #000080, 1929px 717px #000080, 1947px 755px #000080, 1818px 1123px #000080,
    1896px 1672px #000080, 460px 198px #000080, 256px 271px #000080, 752px 544px #000080,
    1222px 1859px #000080, 1851px 443px #000080, 313px 1858px #000080, 709px 446px #000080,
    1546px 697px #000080, 674px 1155px #000080, 1112px 130px #000080, 355px 1790px #000080,
    1496px 974px #000080, 1696px 480px #000080, 1316px 1265px #000080, 1645px 1063px #000080,
    1182px 237px #000080, 427px 1582px #000080, 859px 253px #000080, 458px 939px #000080,
    1517px 1644px #000080, 1943px 60px #000080, 212px 1650px #000080, 966px 1786px #000080,
    473px 712px #000080, 130px 76px #000080, 1417px 1186px #000080, 909px 1580px #000080,
    1913px 762px #000080, 204px 1143px #000080, 1998px 1057px #000080, 1468px 1301px #000080,
    144px 1676px #000080, 21px 1601px #000080, 382px 1362px #000080, 912px 753px #000080,
    1488px 1405px #000080, 802px 156px #000080, 174px 550px #000080, 338px 1366px #000080,
    1197px 774px #000080, 602px 486px #000080, 682px 1877px #000080, 348px 1503px #000080,
    407px 1139px #000080, 950px 1400px #000080, 922px 1139px #000080, 1697px 293px #000080,
    1238px 1281px #000080, 1038px 1197px #000080, 376px 1889px #000080,
    1255px 1680px #000080, 1008px 1316px #000080, 1538px 1447px #000080,
    1186px 874px #000080, 1967px 640px #000080, 1341px 19px #000080, 29px 1732px #000080,
    16px 1650px #000080, 1021px 1075px #000080, 723px 424px #000080, 1175px 41px #000080,
    494px 1957px #000080, 1296px 431px #000080, 175px 1507px #000080, 831px 121px #000080,
    498px 1947px #000080, 617px 880px #000080, 240px 403px #000080;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Optional: This ensures the background stays behind your content */
  }

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}




